/* -------------------------------------------------------------- 
   BODY
-------------------------------------------------------------- */

body	{	font-size: 62.5%; max-width: 100%; padding: 0; margin: 0;	}

/* -------------------------------------------------------------- 
   SCREEN
-------------------------------------------------------------- */

/* PAGE */
#page {
	width: 100%;
}

/* HEADER */
#header { padding: 20px; background: #333; border-bottom: 2px solid #222; }
#header h1 { margin-bottom: 0; font-size: 20px; line-height: 20px; color: #fff; }

/* NAVIGATION */
#navigation { padding: 0 10px; background: #ddd; border-bottom: 2px solid #bbb; }
#navigation .tabs a { padding: 5px 10px; color: #666; text-decoration: none; }
#navigation .tabs a:hover { background: #bbb; color: #333; }

/* BODY */
#body { width: 960px; margin: 0 auto; padding: 20px; }

/* HOME */
body.home	#main { float: left; width: 580px; margin-right: 90px; }
		

body.home		#introScroller
		{
			width: 100%;
		}
body.home		#main .jScrollPane
		{
			width: 650px;
			height: 590px;
			overflow: auto;
		}

body.home	#sidebar { float: left; margin-top: 10px; width: 230px; }
body.home	#sidebar h3 { color: #888; }
body.home	#sidebar ul, #sidebar ol { color: #888; }
body.home	#sidebar ul a { color: #555; }

/* /HOME */

/* ABOUT */

body.about	#about	{
	float: left;
	width: 460px;
}

body.about	#resources	{
	float: left;
	width: 400px;
	margin: 5px 10px; 
	
}
		#about .jScrollPane
		{
			width: 400px;
			height: 340px;
			overflow: auto;
		}

/* /ABOUT */

/* POSTS */
#primary-content	{
}

	#primary-content .post	{
	}
	#primary-content .jlink	{
	}
	#primary-content .post-data	{
	}
	#primary-content .entry	{
	}

/* /POSTS */

/* GALLERY */
body.gallery #main li {
	background:#FFFFFF none repeat scroll 0 0;
	border-color:#CCCCCC;
	border-style:solid;
	border-width:0 1px 1px 0;
	display:inline;
	float:left;
	margin:5px;
	padding:10px;
	position:relative;
	text-align:center;
	width:200px;
}
body.gallery #fullplate-navigation {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:5px 0 0 45px;
}
body.gallery #fullplate-navigation li {
	display:block;
	float:left;
	width:210px;
}
body.gallery #previous {
	text-align:left;
}
body.gallery #next {
	text-align:right;
}
body.gallery #fullplate-navigation li a {
	display:block;
	padding:10px;
	width:190px;
}
body.gallery #fullplate-navigation li a:hover {
	color:#333333;
}
body.gallery #fullplate-photo {
	background:#FFFFFF none repeat scroll 0 0;
	border-color:#EEEEEE;
	border-style:solid;
	border-width:0 1px 1px 0;
	margin:0 auto;
	padding:5px 15px 15px;
	width:600px;
}
body.gallery #main a span {
	left:-9999px;
	position:absolute;
}
body.gallery #main a:hover span {
	background:#FFFFFF none repeat scroll 0 0;
	border-color:#EEEEEE;
	border-style:solid;
	border-width:0 0 10px;
	color:#999999;
	font-size:80%;
	font-weight:bold;
	left:10px;
	padding:5px 0;
	text-transform:uppercase;
	top:10px;
	width:202px;
}
body.gallery img {
	border:1px solid #EEEEEE;
}
/* /GALLERY */

/* CONTACT */

/* /CONTACT */

/* FOOTER */
#footer { padding: 10px 20px; border-top: 1px solid #eee; }
#footer .tabs { font-size: 13px; }
#footer .tabs li { margin-right: 20px; }
#footer .tabs a { color: #999; text-decoration: none; }
#footer p.quiet { color: #ccc; }




/*	MESSAGES	*/
.error, .notice, .success {
border:2px solid #DDDDDD;
margin-bottom:1em;
padding:0.8em;
}
.error {
background:#FBE3E4 none repeat scroll 0 0;
border-color:#FBC2C4;
color:#8A1F11;
}
.notice {
background:#FFF6BF none repeat scroll 0 0;
border-color:#FFD324;
color:#514721;
}
.success {
background:#E6EFC2 none repeat scroll 0 0;
border-color:#C6D880;
color:#264409;
}
.error a {
color:#8A1F11;
}
.notice a {
color:#514721;
}
.success a {
color:#264409;
}





/*	jquery ui extras	*/
table.ui-datepicker-calendar	{
}
table.ui-datepicker-calendar	th,
table.ui-datepicker-calendar	td	{
	padding: 1px !important;
}