/*
Wildflower CMS main stylesheet
 
Colors
======
#000 - Ligter Black - Main type color
#e2e2e2 - Light Grey - Non-content background 
#0033CC - Link Blue - Hyperlinks
*/


html {
	font: 12px/16px "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif; /* Lucida Grande works best on OS X, Tahoma is very similar and a system font on Windows */
	background: #e2e2e2;
	color: #000;
}

a {
    color: #0033CC;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0033CC;
}

img {
    border: none;
}

#ft {
    padding: 0 30px;
}

.wildflower {
    color: #000;
    min-width: 870px;
}

#ft {
    margin: 0;
    padding: 0 40px 14px;
    font-size: 10px;
}

    #ft a {
        color: #686868;
        text-decoration: none;
    }

#hd,
#editor_mode_header {
    background: #1b3b53;
    overflow: hidden;
    color: #feffc2;
}

#editor_mode_header {
    padding: 0 40px;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

    #editor_mode_header li {
        float: left;
        padding: 6px;
        margin: 0;
    }
    
    #editor_mode_header small {
        font-size: 11px;
    }

    #editor_mode_header a {
        color: #fff;
    }

    #header a {
        color: #feffc2;
    }
    
    #header a:hover,
    #editor_mode_header a:hover {
        background-color: #d0e4f8;
        color: #000;
    }

#site-title {
    font-size: 20px;
    font-weight: normal;
    padding: 22px 10px;
    margin: 0;
}

    #site-title a {
        text-decoration: none;
    }
    
#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 13px;
}

    #nav li {
        float: left;
    }
    
    #nav a {
        display: block;
        height: 12px;
        margin: 0 2px 0 0;
        padding: 4px 9px 9px 9px;
        background-color: #446076;
        color: #fff;
        text-decoration: none;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        border-radius: 3px 3px 0 0;
    }
    
        #nav .current a,
        #nav .current a:hover {
            color: #1d1d1d;
            background-color: #e2e2e2;
            font-weight: bold;
        }
        
    #nav a:hover {
        color: #fff;
        background-color: #777777;
    }

#login-info {
    position: absolute;
    top: 0px;
    right: 32px;
}

    #login-info a {
        display: inline-block;
        padding: 6px;
    }

#content {
    float: left;
    width: 70%;
    position: relative;
    left: 10px;
    margin: 0;
    background: #fff;
}

#co_right_shadow {
    background: url(img/wrap_shadow_right.png) right top repeat-y;
}

#co_bottom_shadow {
    background: url(img/wrap_bottom_shadow.png) left bottom repeat-x;
}

#co_top_shadow {
    background: url(img/wrap_top_shadow.png) left top repeat-x;
}

#co_top_right_corner {
    background: url(img/wrap_top_right_corner.png) right top no-repeat;
    padding-top: 13px;
}

#co_right_bottom_corner {
    padding-bottom: 10px;
    padding-right: 16px;
    background: url(img/wrap_shadow_right_bottom_corner.png) right bottom no-repeat;
}

#content-pad {
    padding: 20px 25px 20px;
	background-position: top right;
	background-repeat: no-repeat;
	background-color: transparent;
	min-height: 300px;
}

body.dashboards	#content-pad {	background-image: url(/wildflower/css/img/bright/dashboards.png);	}
body.pages		#content-pad {	background-image: url(/wildflower/css/img/bright/pages.png);	}
body.posts		#content-pad {	background-image: url(/wildflower/css/img/bright/posts.png);	}
body.assets		#content-pad {	background-image: url(/wildflower/css/img/bright/assets.png);	}
body.messages	#content-pad {	background-image: url(/wildflower/css/img/bright/messages.png);	}
body.galleries	#content-pad {	background-image: url(/wildflower/css/img/bright/galleries.png);	}
body.stats		#content-pad {	background-image: url(/wildflower/css/img/bright/stats.png);	}
body.links		#content-pad {	background-image: url(/wildflower/css/img/bright/links.png);	}
body.settings	#content-pad {	background-image: url(/wildflower/css/img/bright/settings.png);	}
body.users		#content-pad {	background-image: url(/wildflower/css/img/bright/users.png);	}
body.utilities	#content-pad {	background-image: url(/wildflower/css/img/bright/utilities.png);	}

.cleaner {
    display: none;
}
    
    #wrap a.add,
    .button {
        background: url(img/sidebar-button.png) 0 0 no-repeat;
        height: 33px;
        padding: 0 0 0 14px;
        display: inline-block;
        color: #000;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        font-weight: bold;
    }
    
        #wrap a.add span,
        .button span {
            padding: 8px 20px 12px 0;
            margin: 0 0 0 20px;
            display: block;
            background: url(img/sidebar-button.png) top right no-repeat;
        }
        
        #wrap a.add:hover,
        .button:hover {
            color: #2c4d66;
        }
        
    #sidebar h4.add {
        background: url(img/add.png) center left no-repeat;
        padding: 0 0 0 21px;
        font-size: 13px;
    }
    
    #sidebar a.add + a.add {
        margin-top: 7px;
    }


.button {
    color: red !important;
    background-image: url(img/button_on_white.png);
    padding: 0;
    height: 35px;
}

    .button span {
        background-image: url(img/button_on_white.png);
    }
        
/* Headings */

h2 {
    font-weight: normal;
    font-size: 17px;
    margin: 18px 0 12px 0;
}

.section {
    margin: -20px -25px 14px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    background: #eef5fb url(img/page_top.png) left bottom repeat-x;
}

#full-edit-back-link {
    margin: 2px 0;
    display: block;
    padding: 5px 25px;
    float: left;
}

    #full-edit-back-link:hover {
        color: yellow !important;
        background-color: transparent !important;
    }


/* Form elements */

input,
textarea,
select {
    font-size: 12px;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.input {
    padding: 8px 0;
    margin: 0;
}

#WildPostCreatedYear,
#WildPageCreatedYear {
    margin-right: 10px;
}

    .horizontal-form label {
        display: block;
        float: left;
        width: 80px;
        text-align: right;
        padding: 3px 8px 0 0;
    }
    
    .horizontal-form .input {
        overflow: hidden;
    }
    
.horizontal-form-buttons {
    padding: 14px 0 0 90px;
}

    .editor_form * {
        margin: 0;
        padding: 0;
    }

    .editor_form label {
        font-size: 11px;
        height: 15px;
        text-transform: uppercase !important;
        color: #777777;
        display: block;
    }
    
    .editor_form .input input {
        font-size: 18px;
        font-weight: bold;
        padding: 2px;
        margin: 0 0 10px 0;
        width: 98.5%;
    }
    
    .editor_form textarea {
        font: 14px/18px Monaco, "Lucida Console", "Consolas", courier;
        padding: 5px;
        width: 98%;
        margin-bottom: 10px;
    }
    
.mceEditor {
    margin-bottom: 8px;
    display: block;
}


/* Page/post title edit */

.title_input {
    padding: 0;
    margin: -4px 10px 0 0;
}
    
    .title_input input {
        font-size: 18px;
        font-weight: bold;
        padding: 2px;
        width: 90%;
    }
    
    .title_input label {
        font-size: 14px;
        font-weight: bold;
        padding: 10px 0 4px 0;
        margin: 0;
        display: block;
    }

.rename_title_section {
    overflow: hidden;
    display: none;
    background: #ddd;
    margin: 0;
    padding: 15px;
    border: 1px solid #eee;
}

#name-new-page .input {

}

    .rename_title_section .submit {
        padding: 18px 10px 0 0;
        float: left;
    }

.rename_title {
    font-size: 11px;
    font-weight: normal;
}

.rename_title:hover {
    background-color: #d80019;
    color: #fff;
}

.rename_cancel {
    font-size: 12px;
    padding: 20px 20px 0;
    display: block;
}

    
/* Messages & errors */

#flashMessage {
    color: #fff;
    background: #3b8f30;
    border: 1px solid #62e350;
    padding: 5px;
    margin: 0 0 14px 0;
}

.error-message {
    color: #650000;
}
        

/* Sidebar */

#sidebar {
    float: right;
    width: 30%;
    margin: 5px 0 0 0;
}

    #sidebar ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    
    #sidebar .input {
        padding: 0;
    }

    #sidebar > ul > li {
        margin: 0;
        padding: 8px 14px;
    }
    
    #sidebar > ul > li:last-child {
        border-bottom: none;
    }

.sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    left: -14px;
}        

    #sidebar .sidebar-menu li {
        margin: 0;
        padding: 0;
    }
    
    .sidebar-menu a {
        display: block;
        padding: 4px 4px 4px 24px;
    }
    
    #sidebar .sidebar-menu a.current {
        color: #fff;
        text-decoration: none;
        background-color: #6f6f6f;
    }
    
.sidebar-menu-alt {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-menu-alt li {
        margin: 0 0 5px;
        padding: 0;
    }
    
    .sidebar-menu-alt a {
        display: block;
        color: #000;
        background: #d2d2d2;
        padding: 5px 10px;
        text-decoration: underline;
    }
    
    .sidebar-menu-alt a:hover {
        text-decoration: none;
        background-color: #969696;
        color: #fff;
    }
    
    /* Sidebar box */
    
    #sidebar .sidebar-box {
        background-color: #f5f5f5;
        border: 2px solid #cbcbcb;
        border-width: 0 2px 2px 0;
        border-bottom-color: #c0c0c0;
        padding: 12px;
        margin: 8px 0 6px 10px !important;
    }

    #sidebar .sidebar-box:last-child {
        border-bottom: 2px solid #c0c0c0;
    }

    .sidebar-box h4 {
        margin: 0 0 6px 0;
        font-size: 12px;
        font-weight: bold;
    }
    
    .sidebar-box .input {
        margin: 10px 0;
    }
    
    .sidebar-box .submit {
        margin-top: 16px;
    }
    
        .sidebar-box .input input {
            width: 96%;
            font-size: 12px;
        }
        
        .sidebar-box .submit input,
        .sidebar-box select {
            font-size: 12px;
        }
    
.edited-item-link {
    font-size: 14px;
    line-height: 17px;
}    

    /* Sidebar search */

        #sidebar .search .input {
            margin-bottom: 0;
        }
        
        #sidebar .search label {
            font-weight: bold;
        }
        
        #sidebar .search input {
            width: 99%;
            margin: 2px 0 0 0;
            display: block;
            font-size: 14px;
            padding: 2px;
        }

#sidebar-search-results {
    list-style: none;
    margin: 0;
    padding: 0 !important;
}

    #sidebar-search-results li {
        margin: 0;
        padding: 0;
    }
    
    #sidebar-search-results a {
        display: block;
        padding: 3px 6px;
        background: #0033CC;
        color: #fff;
        text-decoration: none;
    }
    
/* Select actions */

.select-actions {
    padding: 4px 6px;
    background-color: #fffde0;
    border: 1px solid #fffcbd;
    display: none; /* JS shows/hide this */
}

    .select-actions a,
    .select-actions a:hover {
        color: #d80019;
        background-color: transparent;
    }
    
    .select-actions span {
        text-align: right;
        float: right;
        position: relative;
        top: -16px;
    }
    
        .select-actions span a,
        .select-actions span a:hover {
            color: #606060;
        }
    
.selected {
    background-color: #fffde0;
}    

.trash {
    background: url(img/cross.png) 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

    .trash span {
        display: none;
    }
    
    .trash:hover {
        background-color: transparent;
    }
        
/* List of posts */

#show-posts {
    display: none; /* hide for now */
    position: absolute;
    top: 18px;
    right: 10px;
}

.list-of-posts {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .list-of-posts li {
        border-bottom: 1px solid #e0e0e0;
        padding: 3px 0 5px;
        margin: 0;
        position: relative;
    }
    
    .list-of-posts li:first-child {
        border-top: 1px solid #eee;
    }
    
.title-row {
    font-size: 14px;
    display: block;
    margin: 0 0 0 24px;
}

.row-check {
    float: left;
    display: block;
    height: 100%;
}

.draft-status {
    font-size: 11px;
    font-weight: bold;
    border: none;
}

.row-actions {
    font-size: 11px !important;
    position: absolute;
    padding: 2px 5px 2px 11px;
    top: -1px;
    left: -50px;
    display: none;
    font-size: 12px;
    background-color: #fff;
    -moz-border-radius: 10px 0 0 10px; 
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.post-date {
    font-size: 10px;
    color: #535353;
    margin: 0 0 0 3px;
    padding: 4px 0 0 0;
    display: block;
    float: left;
}

.post-categories,
.link-categories,
.post-comments {
    color: #535353;
    margin: 0;
    padding: 4px 0 0 30px;
    background: url(img/tag_yellow.png) 10px 4px no-repeat;
    font-size: 11px;
    float: left;
}

    .post-date a,
    .post-categories a,
    .post-comments a {
        color: #535353;
        text-decoration: none;
    }
    
    .post-date a:hover,
    .post-categories a:hover,
    .post-comments a:hover {
        background-color: #535353;
        color: #fff;
    }
    
.post-comments {
    background-image: url(img/comment.png);
}
   
.permalink,
.edit-sections .permalink {
    background: transparent url(img/link.png) 0 0 no-repeat;
    padding-left: 18px;
} 

    .sidebar-menu .permalink {
        padding-left: 31px;
        background-position: 12px 5px;
    }

 /* pagination */

.paginator {
    margin: 50px 2em 0 1em;
}

.paginator li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
}
.paginator li, .paginator a{
border:solid 1px #DEDEDE
margin-right:2px;
}
.paginator .paginate-prev.disabled,
.paginator .paginate-next.disabled {
color:#888888
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
.paginator .paginate-prev a,
.paginator .paginate-next a {
font-weight:bold;
border:solid 1px #FFFFFF;
}
.paginator .current{
color:#00000
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
.paginator a:link,
.paginator a:visited {
color:#0033CC
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
.paginator a:hover{
text-decoration:none;
}

.paginate-counter {	float: right; margin-right: 70px;	}
	.paginate-counter p.quiet	{	margin-top: 5px;	}

    .paginate-prev,
    .paginate-next {
        float: left;
        margin-right: 1.2em;
    }
    
.disabled {
    color: #606060;
}

#posts-feed {
    background-image: url(img/rss-coffee.png);
    background-position: 9px 5px;
    background-repeat: no-repeat;
    padding-left: 32px;
}
    
    
/* Post edit */

#save-preview {
    display: none; /* Preview does not work yet */
}

#save-draft,
#save-publish,
#save-preview,
.save-section,
.wf-form-button {
    float: left;
    margin-right: 6px;
}

    #save-draft input,
    #save-publish input,
    #save-preview input,
    .save-section input,
    .wf-form-button input {
        font-size: 13px;
    }
    
.cancel-edit {
    padding: 2px 0 0 0;
    display: block;
}
    
    .cancel-edit a,
    .cancel-edit a:hover,
    a.cancel,
    a.cancel:hover,
    .rename_title {
        color: #d80019;
        background-color: transparent;
    }
    
#post-categories,
#post-options,
#post-revisions,
#post-preview {
    display: none;
}

.category-list {
    margin: 14px 0;
    padding: 0;
    list-style: none;
}

    .category-list ul,
    .category-list li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .category-list ul {
        margin-left: 17px;
    }
    
    .category-list .trash {
        visibility: hidden;
    }
    
    .category-list label:hover .trash {
        visibility: visible;
    }

    .checkbox-list label {
        position: relative;
        top: -2px;
        left: -3px;
    }    
    
    #post-preview object {
        width: 100%;
        height: 400px;
        margin: 0 0 14px 0;
        border: 6px solid #fffde0;
    }
    
.back-to-all {
    font-weight: bold;
}

.post-info {
}

.edit-sections {
    list-style: none;
    margin: -10px 0 14px -10px;
    padding: 0;
    overflow: hidden;
}

    .edit-sections li {
        margin: 0;
        padding: 0;
        float: left;
    }
    
    .edit-sections a {
        display: block;
        padding: 2px 6px;
        border-right: 1px solid #dadada;
    }
    
    .edit-sections li:last-child a {
        border-right: none;
    }
    
    .edit-sections a.current {
        background-color: #f0f0f0;
        color: #000;
        text-decoration: none;
    }
    
    .edit-sections .permalink {
        background-position: 4px 3px;
        padding-left: 22px;
    }


/* Pages */

.pages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: -5px;
    font-size: 14px;
    line-height: 20px;
}

    .pages-list ul {
        list-style: none;
        margin: 0;
        padding-left: 18px;
    }
    
    .pages-list li {
        position: relative;
        border: none !important;
        padding: 0 !important;
    }
    

/* Assets */

    #file-upload .file {
        float: left;
    }
    
    #file-upload p {
        clear: both;
    }
    
        #file-upload .submit input {
            margin: 16px 0 0 10px;
            font-size: 13px;
        }

/*	links & feeds	*/

#show-links	{float: right; width: 150px; margin-top: 5px;}

.list-of-links	li.link-row	{
	display: inline; float: left; width: 40%; margin-left: 3%; margin-right: 5%;
}

/* Image browser (image insert) */

#image-browser {
}

    #image-browser ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    #image-browser li {
    }
    
    #image-browser button {
        margin-top: 10px;
    }
    
    #image-browser .selected {
        background-color: #0033CC;
        color: #fff;
    }
    
    #image-browser .selected a {
        color: #fff;
    }
    
    #image-browser .sidebar-box {
        margin: 0 !important;
        padding: 0 !important;
        border: none;
    }
    
.sidebar-box h5 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 1em 0;
}

#resize_image {
    padding: 10px;
    background-color: #ebebeb;
}

.sidebar-box .paginator {
    font-size: 11px;
}

.sidebar-box button {
    font-size: 12px;
}
	
/* gallery */
#show-galleries	{	float: right; margin-top: 7px;	}
    
    
/* Reorder list */

    .reorder-list .item {
        border: 1px solid #a5a5a5;
        background-color: #b3b3b3;
        cursor: move;
        display: inline;
    }
    
    .reorder-list li {
        display: block;
    }
    
#jTreeHelper {
    width: 200px;
    margin: 0;
    padding: 0;
}

#jTreeHelper li {
    display: inline;
}


/* Write new dialog */

    .new-dialog label {
        display: block;
    }

    .new-dialog h2 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .new-dialog .select {
        margin-bottom: 14px;
    }
    
.all-page-parents {
    display: none;
}


/* File list */

.actions-handle {
    position: relative;
}

.file-list,
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .file-list li,
    .list li {
        margin: 0;
        padding: 4px 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .file-list .thumbnail,
    .list .thumbnail {
        float: left;
        margin: 0 10px 0 5px;
        display: block;
    }
    
    .file-list img,
    .list img {
        display: block;
    }
    
    .file-list h3,
    .list h3 {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }



/**	users password strength meter made by Tane Piper	**/
.is0{background:url(/wildflower/css/img/passwordstrength/progressImg1.png) no-repeat 0 0;width:138px;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}

#admin_bar {
    background: #000;
    color: #c3c3c3;
    font-size: 10px;
    overflow: hidden;
    padding: 0 32px;
}

    #admin_bar a {
        color: #999999;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }
    
    #admin_bar a:hover {
        color: #fff;
        background-color: transparent;
    }
    
#page_preview {
    width: 100%;
    min-height: 500px;
}

.entry {
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 65%;
}

    .entry h2 {
        font-size: 20px;
        font-weight: bold;
    }

#page_inserts {
    margin: -20px -25px 16px; 
    padding: 0 20px; 
    list-style: none;
    overflow: hidden;
    background: #eef5fb url(img/page_top.png) left bottom repeat-x;
}

#page_inserts li {
    float: left;
    display: block;
}

#page_inserts a,
#page_inserts span {
    display: block;
    padding: 8px 5px;
}

    #page_inserts a {
        font-weight: bold;
    }
    
    .versions h4,
    .insert_widget_sidebar h4 {
        font-size: 12px;
        margin: 0 0 10px 0;
        border-bottom: 1px solid #7a7a7a;
    }
    
    .versions a {
        padding: 2px 4px;
        font-size: 11px;
        display: block;
        width: 120px;
    }
    
    .versions .current {
        color: #000;
        text-decoration: none;
        background: #f0f0d2;
    }
    
#edit-buttons {
    overflow: hidden;
    margin-top: 1em;
    background: #eee;
    padding: 4px;
}

.sidebar_editor {
    display: none;
}

#sidebar_content {
    background: #eee;
    padding: 10px;
    float: right;
    width: 30%;
}


/*	UI Sweetner for cake - jquery ui overrides & others in mind but not yet	*/

.tabs	{	background: transparent !important;	margin-bottom: 30px;}
body.dashboards	#content-pad	.tabs,
body	#content-pad	.list	{	margin-right: 155px;	}	
.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; background: transparent; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; background: transparent;  }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; background: transparent; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; background: transparent; }

/*	jquery ui flash messages	*/
.ui-widget	p {	padding-left: 15px; padding-right: 15px;	}
.ui-widget	p span.ui-icon	{	float: left; padding: 1px;	}

#jqueryui		{	float: right; background: #fff; margin: -10px 0 0 0; 	}




	 /*	particle tree	*/

	 /* BUTTONS */

.buttons a, .submit button	{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

button.positive, .buttons a.positive{
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}


/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* Widgets */

    #edit_widget_form .submit {
        float: left;
        margin-right: 5px;
    }
    
.slider_block {
    overflow: hidden;
}

    .slider_block .input {
        float: left;
        margin-right: 10px;
    }
    
    .slider_block label {
        margin-right: 5px;
    }
    
    .slider_block input {
        font-size: 14px;
    }