# Cake caches
app/tmp/cache/cake_*
app/tmp/cache/models/cake_*
app/tmp/cache/persistent/cake_*
app/tmp/cache/views/*.php

app/tmp/sessions/*

# Cake logs
app/tmp/logs/*.log

# Wildflower caches
app/tmp/cache/wf_previews/*.json
app/tmp/cache/wf_root_pages
app/tmp/cache/wf_thumbnails/*.jpg

app/webroot/img/cms/*
app/webroot/img/screenshots/*
app/webroot/img/xml/*

app/vendors/phpflickr/*
app/vendors/Director/*

# ignore bak files
*.*.bak
*.*.orig

# Wildflower uploaded files
app/webroot/uploads/*

# Ruckusing log file
vendors/ruckusing/logs/development.log

# HTML webroot cache
app/webroot/cache/*

# js/css src files && .gz
app/webroot/css/*_src.css
app/webroot/css/*.css.gz
app/webroot/js/*_src.js
app/webroot/js/*.js.gz

# pluigins
app/plugins/*
!app/plugins/debug_kit
!app/plugins/interactive
!app/plugins/acl_plugin
!app/plugins/tagging

# themes
app/views/themed/*
!app/views/themed/kruger
!app/viewsthemed/simplenotes


# ingnore majic3 database cfg
app/config/database.*.php




