# PHP version - on _some_ web hosts you enable PHP5 with one of the following lines (or two in some cases):
#1AND1#		AddType x-mapp-php5 .php
#MTGS#		AddHandler php5-script .php

<IfModule mod_rewrite.c>
   RewriteEngine on
   #RewriteBae /

   ##rewrites

   # Maitenance mode: (uncoment following line)
   # RewriteRule    ^(.*)$ app/webroot/offline.html    [L]
   
   # HTML cache
   RewriteCond %{REQUEST_METHOD} ^GET$ 
   RewriteCond %{DOCUMENT_ROOT}/app/webroot/cache/$1/index.html -f
   RewriteRule ^(.*)$ app/webroot/cache/$1/index.html [L]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
