/* -------------------------------------------------------------- 
   BODY
-------------------------------------------------------------- */

body	{	font-size: 62.5%; max-width: 100%; padding: 0; margin: 0;	}

/* -------------------------------------------------------------- 
   SCREEN
-------------------------------------------------------------- */

/* PAGE */
#page {
	width: 100%;
		background: white;
}

/* HEADER */
#header { position: relative; min-height: 45px; padding: 5px; background: transparent; border-bottom: 2px solid #222; }
#header a:link,
#header a:active,
#header a:visited	{	color: #000;	}
#header a:hover		{	color: #000;	}
#header h1 { position: absolute; top: 0; left: 0; margin: 2px 0 0 15px; font-size: 15px; line-height: 17px; color: #fff; }
#header p#ident { position: absolute; top: 0; left: 0; padding: 0; margin: 2px 0 5px 15px; background: transparent; }
#header p#ident a	{ display: block; padding-top: 20px; width: 100%; height: 100%;  }
#header .searchBox 	{	position: absolute; width: 214px; height: 22px; top: 14px; right: 0;	}
#header input.text,
#header .input.text	{	float: left; width: 162px;	}
#header .submit	{	float: left; width: 35px;	}
#header .searchBox input[type=submit] {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url(/css/img/go.png) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

#header .searchBox input.text:focus	{	background: #ddd;	}
#header .searchBox input.text:hover	{	background: #eee;	}
#header #rss	{	float: right; margin: 10px 0 0 0;	}
#header #rss img	{	border: 0;	}

/* NAVIGATION */
#navigation { padding: 0 10px; background: #ddd; border-bottom: 2px solid #bbb; }
#navigation .tabs a { padding: 5px 10px; color: #666; text-decoration: none; }
#navigation .tabs a:hover { background: #bbb; color: #333; }

/* BODY */
#body { width: 960px; margin: 0 auto; padding: 20px; }

/*	main & aside	*/

#main	{

}

#aside	{

}

/* HOME */
body.home	#main { float: left; width: 580px; margin-right: 90px; }
		

body.home		#introScroller
		{
			width: 100%;
		}
body.home		#main .jScrollPane
		{
			width: 650px;
			height: 590px;
			overflow: auto;
		}

body.home	#aside { float: left; margin-top: 10px; width: 230px; }
body.home	#aside h3 { color: #888; }
body.home	#aside ul, 
body.home	#aside ol { color: #888; }
body.home	#aside ul a { color: #555; }

/* /HOME */

/* ABOUT */

body.about	#main	{
	float: left;
	width: 460px;
}

body.about	#aside	{
	float: left;
	width: 400px;
	margin: 5px 10px; 
	
}

	body.about	#main .jScrollPane
		{
			width: 400px;
			height: 340px;
			overflow: auto;
		}

/* /ABOUT */

/* POSTS */
body.blog #main,
body.posts #main	{ 
	float: left;
	width: 460px;
}
body.blog #aside,
body.posts #aside	{
	float: left;
	width: 400px;
	margin: 5px 10px; 
}

#primary-content	{
}

	#primary-content .post	{
	}
	#primary-content .jlink	{
	}
	#primary-content .post-data	{
	}
	#primary-content .entry	{
	}

/* /POSTS */

/* GALLERY */
body.gallery #main,
body.gallery #aside	{	width: 100%;	}
body.gallery #main li {
	background:#FFFFFF none repeat scroll 0 0;
	border-color:#CCCCCC;
	border-style:solid;
	border-width:0 1px 1px 0;
	display:inline;
	float:left;
	margin:5px;
	padding:10px;
	position:relative;
	text-align:center;
	width:200px;
}
body.gallery #fullplate-navigation {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:5px 0 0 45px;
}
body.gallery #fullplate-navigation li {
	display:block;
	float:left;
	width:210px;
}
body.gallery #previous {
	text-align:left;
}
body.gallery #next {
	text-align:right;
}
body.gallery #fullplate-navigation li a {
	display:block;
	padding:10px;
	width:190px;
}
body.gallery #fullplate-navigation li a:hover {
	color:#333333;
}
body.gallery #fullplate-photo {
	background:#FFFFFF none repeat scroll 0 0;
	border-color:#EEEEEE;
	border-style:solid;
	border-width:0 1px 1px 0;
	margin:0 auto;
	padding:5px 15px 15px;
	width:600px;
}
body.gallery #main a span {
	left:-9999px;
	position:absolute;
}
body.gallery #main a:hover span {
	background:#FFFFFF none repeat scroll 0 0;
	border-color:#EEEEEE;
	border-style:solid;
	border-width:0 0 10px;
	color:#999999;
	font-size:80%;
	font-weight:bold;
	left:10px;
	padding:5px 0;
	text-transform:uppercase;
	top:10px;
	width:202px;
}
body.gallery img {
	border:1px solid #EEEEEE;
}
/* /GALLERY */

/* CONTACT */
body.contact #main,
body.messages #main {
	float: left; width: 630px;
}
body.contact #aside	,
body.messages #aside{
	margin: 0 0 640px;
	width: 340px; margin-left: 640px;
}
/* /CONTACT */

/* FOOTER */
#footer { padding: 10px 20px; border-top: 1px solid #eee; }
#footer .tabs { font-size: 13px; }
#footer .tabs li { margin-right: 20px; }
#footer .tabs a { color: #999; text-decoration: none; }
#footer p.quiet { color: #ccc; }
#footer img { border: 0; vertical-align: bottom; }




/*	MESSAGES	*/
.error, .notice, .success {
border:2px solid #DDDDDD;
margin-bottom:1em;
padding:0.8em;
}
.error	p, .notice	p, .success p	{
	margin: 2px 3px;
	padding: 3px 3px 3px 35px;
}
.error {
background:#FBE3E4 url(img/silk-icons/exclamation.png) no-repeat scroll 20px center;
border-color:#FBC2C4;
color:#8A1F11;
}
.notice {
background:#FFF6BF url(img/silk-icons/information.png) no-repeat scroll 20px center;
border-color:#FFD324;
color:#514721;
}
.success {
background:#E6EFC2 url(img/silk-icons/accept.png) no-repeat scroll 20px center;
border-color:#C6D880;
color:#264409;
}
.error a {
color:#8A1F11;
}
.notice a {
color:#514721;
}
.success a {
color:#264409;
}





#admin-bar {
    background: #000;
    color: #c3c3c3;
    overflow: hidden;
    padding: 0 32px;
}

	#admin-bar ul.tabs	{	float: right;	}
	#admin-bar li		{	
    font-size: 10px;	}

    #admin-bar a {
        color: #999999;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }
    
    #admin-bar a:hover {
        color: #fff;
        background-color: transparent;
    }





/*	jquery ui extras	*/
table.ui-datepicker-calendar	{
}
table.ui-datepicker-calendar	th,
table.ui-datepicker-calendar	td	{
	padding: 1px !important;
}