/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
 * compressed */
/* line 121, stylesheets/oocss/modules/_mod_skins.sass */
.modfaqskin .inner {
  border: 3px solid #b20029;
  border-bottom-width: 10px;
}
/* line 125, stylesheets/oocss/modules/_mod_skins.sass */
.modfaqskin b {
  background-image: url(skin/mod/faq.png);
}
/* line 128, stylesheets/oocss/modules/_mod_skins.sass */
.modfaqskin .bl, .modfaqskin .br {
  height: 16px;
  margin-top: -16px;
}

/* @group OOCSS */
/* reset	 */
/* oocss default lib - mixins of these classes exist too	 */
/* line 3, stylesheets/oocss/modules/_lib.sass */
html {
  color: black;
  background: white;
}

/* line 8, stylesheets/oocss/modules/_lib.sass */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 13, stylesheets/oocss/modules/_lib.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, stylesheets/oocss/modules/_lib.sass */
fieldset, img {
  border: 0;
}

/* line 22, stylesheets/oocss/modules/_lib.sass */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 27, stylesheets/oocss/modules/_lib.sass */
li {
  list-style: none;
}

/* line 31, stylesheets/oocss/modules/_lib.sass */
caption, th {
  text-align: left;
}

/* line 35, stylesheets/oocss/modules/_lib.sass */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 41, stylesheets/oocss/modules/_lib.sass */
q:before, q:after {
  content: '';
}

/* line 45, stylesheets/oocss/modules/_lib.sass */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 50, stylesheets/oocss/modules/_lib.sass */
sup {
  vertical-align: text-top;
}

/* line 54, stylesheets/oocss/modules/_lib.sass */
sub {
  vertical-align: text-bottom;
}

/* line 58, stylesheets/oocss/modules/_lib.sass */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 64, stylesheets/oocss/modules/_lib.sass */
input, textarea, select {
  *font-size: 100%;
}

/* line 68, stylesheets/oocss/modules/_lib.sass */
legend {
  color: #000;
}

/* line 72, stylesheets/oocss/modules/_lib.sass */
body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  *font-size: small;
  *font: x-small;
}

/* line 78, stylesheets/oocss/modules/_lib.sass */
select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

/* line 82, stylesheets/oocss/modules/_lib.sass */
table {
  font-size: inherit;
  font: 100%;
}

/* line 87, stylesheets/oocss/modules/_lib.sass */
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* template	 */
/* oocss default template - mixins of these classes exist too	 */
/* line 2, stylesheets/oocss/modules/_template.sass */
.page {
  margin: .3em auto;
  width: 1020px;
}

/* line 45, stylesheets/oocss/modules/_template.sass */
.body {
  overflow: hidden;
  _overflow: visible;
  _zoom: 1;
  width: 100%;
}
/* line 35, stylesheets/oocss/modules/_template.sass */
.body:after {
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
  visibility: hidden;
  clear: both;
  height: 0 !important;
}

/* line 50, stylesheets/oocss/modules/_template.sass */
.main {
  overflow: hidden;
  _overflow: visible;
  _zoom: 1;
}
/* line 35, stylesheets/oocss/modules/_template.sass */
.main:after {
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
  visibility: hidden;
  clear: both;
  height: 0 !important;
}

/* line 54, stylesheets/oocss/modules/_template.sass */
.leftCol {
  float: left;
  width: 180px;
  _margin-left: -3px;
}

/* line 57, stylesheets/oocss/modules/_template.sass */
.rightCol {
  float: right;
  width: 400px;
  _margin-right: -3px;
}

/* grids	 */
/* oocss default grids - mixins of these classes exist too	 */
/* line 57, stylesheets/oocss/modules/_grids.sass */
.line {
  _zoom: 1;
}
/* line 60, stylesheets/oocss/modules/_grids.sass */
.line:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 44, stylesheets/oocss/modules/_grids.sass */
.unit {
  float: left;
}

/* line 47, stylesheets/oocss/modules/_grids.sass */
.unitLast {
  display: table-cell;
  _display: block;
  float: none;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
  width: auto;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size1of3 {
  width: 33.333%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size2of3 {
  width: 66.667%;
}

/* line 7, stylesheets/oocss/modules/_grids.sass */
.size1of1 {
  float: none;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size1of4 {
  width: 25%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size2of4 {
  width: 50%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size3of4 {
  width: 75%;
}

/* line 7, stylesheets/oocss/modules/_grids.sass */
.size1of1 {
  float: none;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size1of5 {
  width: 20%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size2of5 {
  width: 40%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size3of5 {
  width: 60%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size4of5 {
  width: 80%;
}

/* line 7, stylesheets/oocss/modules/_grids.sass */
.size1of1 {
  float: none;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size1of6 {
  width: 16.667%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size2of6 {
  width: 33.333%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size3of6 {
  width: 50%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size4of6 {
  width: 66.667%;
}

/* line 4, stylesheets/oocss/modules/_grids.sass */
.size5of6 {
  width: 83.333%;
}

/* line 7, stylesheets/oocss/modules/_grids.sass */
.size1of1 {
  float: none;
}

/* content	 */
/* azbuka - http://code.google.com/p/azbuka/	 */
/* line 21, stylesheets/oocss/extras/_azbuka-text.sass */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 107, stylesheets/oocss/extras/_azbuka-text.sass */
body {
  color: black;
  font-size: 13px;
  line-height: 1.5em;
  font-family: arial,helvetica,clean,sans-serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

/* line 53, stylesheets/oocss/extras/_azbuka-text.sass */
p {
  padding: 0 0  0.8125em 0;
}

/* line 56, stylesheets/oocss/extras/_azbuka-text.sass */
h1, h2, h3, h4, h5, h6, blockquote {
  font-family: serif;
  color: black;
  margin-bottom: 5px;
  font-weight: normal;
}

/* line 62, stylesheets/oocss/extras/_azbuka-text.sass */
h1 {
  font-size: 2.615em;
  line-height: 1.18;
}

/* line 66, stylesheets/oocss/extras/_azbuka-text.sass */
h2 {
  font-size: 2em;
  line-height: 1.19;
}

/* line 70, stylesheets/oocss/extras/_azbuka-text.sass */
h3 {
  font-size: 1.618em;
  line-height: 1.24;
}

/* line 75, stylesheets/oocss/extras/_azbuka-text.sass */
h4 {
  font-size: 1.308em;
  line-height: 1.23;
}

/* line 80, stylesheets/oocss/extras/_azbuka-text.sass */
h5, h6 {
  font-size: 1em;
  line-height: 1.3;
  font-weight: 700;
}

/* line 32, stylesheets/oocss/extras/_azbuka-text.sass */
ul {
  list-style-position: outside;
}

/* line 36, stylesheets/oocss/extras/_azbuka-text.sass */
li ul, li ol {
  margin: 0 1.618em;
}

/* line 39, stylesheets/oocss/extras/_azbuka-text.sass */
ul, ol {
  margin: 0 0 1.618em 0;
}

/* line 43, stylesheets/oocss/extras/_azbuka-text.sass */
dl {
  margin: 0 0 1.618em 0;
}
/* line 46, stylesheets/oocss/extras/_azbuka-text.sass */
dl dt {
  font-weight: 700;
}
/* line 49, stylesheets/oocss/extras/_azbuka-text.sass */
dl dd {
  margin-left: 1.618em;
}

/* line 86, stylesheets/oocss/extras/_azbuka-text.sass */
table {
  margin-bottom: 1.618em;
  border-collapse: collapse;
}

/* line 90, stylesheets/oocss/extras/_azbuka-text.sass */
th {
  font-weight: 700;
  text-align: left;
}

/* line 94, stylesheets/oocss/extras/_azbuka-text.sass */
tr, th, td {
  margin: 0;
  padding: 0 1.618em 0 1em;
  height: 21px;
}

/* line 99, stylesheets/oocss/extras/_azbuka-text.sass */
tfoot {
  font-style: italic;
}

/* line 102, stylesheets/oocss/extras/_azbuka-text.sass */
caption {
  text-align: center;
  font-family: serif;
}

/* line 119, stylesheets/oocss/extras/_azbuka-text.sass */
blockquote {
  padding-left: 1.618em;
  margin: 0 0 0.8125em;
  border-left: 3px solid #ccc;
  font-style: italic;
  letter-spacing: 0.03em;
}
/* line 126, stylesheets/oocss/extras/_azbuka-text.sass */
blockquote > p {
  padding: 0;
}

/* line 130, stylesheets/oocss/extras/_azbuka-text.sass */
a {
  color: #336699;
  text-decoration: none;
}
/* line 134, stylesheets/oocss/extras/_azbuka-text.sass */
a img {
  border: none;
}
/* line 137, stylesheets/oocss/extras/_azbuka-text.sass */
a:focus, a:hover, a:active {
  color: #aa0000;
  text-decoration: none;
}

/* line 143, stylesheets/oocss/extras/_azbuka-text.sass */
strong {
  font-weight: bold;
  color: #336699;
}
/* line 147, stylesheets/oocss/extras/_azbuka-text.sass */
strong.important {
  font-weight: bolder;
  color: #336699;
  text-decoration: underline;
}

/* line 152, stylesheets/oocss/extras/_azbuka-text.sass */
em {
  font-style: italic;
  color: #336699;
  text-decoration: none;
}

/* line 158, stylesheets/oocss/extras/_azbuka-text.sass */
hr {
  margin-bottom: 1.618em;
  color: #ccc;
  background-color: #ccc;
  height: 2px;
}

/* line 165, stylesheets/oocss/extras/_azbuka-text.sass */
dfn {
  font-style: italic;
  color: #336699;
  text-decoration: none;
  font-weight: bold;
}

/* line 172, stylesheets/oocss/extras/_azbuka-text.sass */
pre, code {
  margin: 1.618em 0;
  white-space: pre;
}

/* line 177, stylesheets/oocss/extras/_azbuka-text.sass */
pre, code {
  font: 1em monospace;
  line-height: 1.618em;
}

/* line 182, stylesheets/oocss/extras/_azbuka-text.sass */
tt {
  font: 1em monospace;
  line-height: 1.618em;
  display: block;
  margin: 1.618em 0;
}

/* line 188, stylesheets/oocss/extras/_azbuka-text.sass */
abbr, acronym {
  border-bottom: 1px dotted #000;
}

/* line 192, stylesheets/oocss/extras/_azbuka-text.sass */
address {
  margin-top: 1.618em;
  font-style: italic;
}

/* line 197, stylesheets/oocss/extras/_azbuka-text.sass */
del {
  color: #000;
}

/* line 201, stylesheets/oocss/extras/_azbuka-text.sass */
sup {
  vertical-align: super;
}

/* line 205, stylesheets/oocss/extras/_azbuka-text.sass */
sub {
  vertical-align: sub;
}

/* mods	 */
/* line 202, stylesheets/screen.sass */
.mod {
  margin: 10px;
}
/* line 4, stylesheets/oocss/modules/_mod.sass */
.mod b {
  display: block;
  background-repeat: no-repeat;
  font-size: 1%;
  position: relative;
  z-index: 10;
}

/* line 204, stylesheets/screen.sass */
.modSec {
  overflow: hidden;
  _overflow: visible;
  _zoom: 1;
}

/* line 206, stylesheets/screen.sass */
.modInner {
  position: relative;
}

/* line 208, stylesheets/screen.sass */
.modCorner {
  height: 10px;
  width: 10px;
  float: left;
}

/* line 210, stylesheets/screen.sass */
.modtl {
  overflow: hidden;
  margin-bottom: -32000px;
}

/* line 212, stylesheets/screen.sass */
.modtr {
  float: right;
  overflow: hidden;
  margin-bottom: -32000px;
}

/* line 214, stylesheets/screen.sass */
.modbr {
  background-position: right bottom;
  float: right;
  margin-top: -10px;
}

/* line 216, stylesheets/screen.sass */
.modtr {
  float: right;
  overflow: hidden;
  margin-bottom: -32000px;
}

/* line 218, stylesheets/screen.sass */
.modtl {
  overflow: hidden;
  margin-bottom: -32000px;
}

/* line 220, stylesheets/screen.sass */
.modtop {
  background-position: center top;
}

/* line 222, stylesheets/screen.sass */
.modbottom {
  background-position: center bottom;
  _zoom: 1;
}

/* line 224, stylesheets/screen.sass */
.modcomplex {
  overflow: hidden;
  *position: relative;
  *zoom: 1;
}
/* line 71, stylesheets/oocss/modules/_mod.sass */
.modcomplex .tl, .modcomplex .tr {
  height: 32000px;
  margin-bottom: -32000px;
  width: 10px;
}
/* line 77, stylesheets/oocss/modules/_mod.sass */
.modcomplex .top, .modcomplex .bottom {
  height: 5px;
}

/* line 226, stylesheets/screen.sass */
.modpop {
  overflow: visible;
  margin: 10px 20px 20px 10px;
  background-position: left top;
}
/* line 86, stylesheets/oocss/modules/_mod.sass */
.modpop .inner {
  right: -10px;
  bottom: -10px;
  background-position: right bottom;
  padding: 0 10px 10px 0;
}
/* line 92, stylesheets/oocss/modules/_mod.sass */
.modpop .tl, .modpop .br {
  display: none;
}
/* line 95, stylesheets/oocss/modules/_mod.sass */
.modpop .bl {
  bottom: -10px;
}
/* line 98, stylesheets/oocss/modules/_mod.sass */
.modpop .tr {
  right: -10px;
}

/* mod skins	 */
/* line 2, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleskin .inner {
  border: 1px solid #D7D7D7;
}
/* line 5, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleskin b {
  background-image: url(skin/mod/simple_corners.png);
}

/* line 11, stylesheets/oocss/modules/_mod_skins.sass */
.modbasicskin b {
  background-image: url(skin/mod/round.png);
}

/* line 234, stylesheets/screen.sass */
.modsimpleExtskin {
  border: 1px solid #c7c7c7;
}
/* line 18, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleExtskin .inner {
  border: 1px solid #c7c7c7;
  border-color: #fff;
  border-width: 4px;
}
/* line 23, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleExtskin b {
  background-image: url(skin/mod/simple_extended.png);
}
/* line 26, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleExtskin .tl {
  left: -1px;
  top: -1px;
  height: 12px;
  width: 12px;
}
/* line 32, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleExtskin .tr {
  right: -1px;
  top: -1px;
  height: 12px;
  width: 12px;
}
/* line 38, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleExtskin .bl {
  left: -1px;
  bottom: -1px;
  height: 12px;
  width: 12px;
  margin-top: -12px;
}
/* line 45, stylesheets/oocss/modules/_mod_skins.sass */
.modsimpleExtskin .br {
  right: -1px;
  bottom: -1px;
  height: 12px;
  width: 12px;
  margin-top: -12px;
}

/* line 236, stylesheets/screen.sass */
.modmeskin {
  border: 1px solid #909090;
}
/* line 56, stylesheets/oocss/modules/_mod_skins.sass */
.modmeskin .inner {
  border: 1px solid #909090;
  border-color: #d76a84;
}
/* line 60, stylesheets/oocss/modules/_mod_skins.sass */
.modmeskin b {
  background-image: url(skin/mod/me.png);
}
/* line 63, stylesheets/oocss/modules/_mod_skins.sass */
.modmeskin .tl {
  left: -1px;
  top: -1px;
}
/* line 67, stylesheets/oocss/modules/_mod_skins.sass */
.modmeskin .tr {
  right: -1px;
  top: -1px;
}
/* line 71, stylesheets/oocss/modules/_mod_skins.sass */
.modmeskin .bl {
  left: -1px;
  bottom: -1px;
}
/* line 75, stylesheets/oocss/modules/_mod_skins.sass */
.modmeskin .br {
  right: -1px;
  bottom: -1px;
}

/* line 238, stylesheets/screen.sass */
.modnotedskin {
  border: 1px solid #c2c2c2;
}
/* line 83, stylesheets/oocss/modules/_mod_skins.sass */
.modnotedskin .inner {
  border: 1px solid #c2c2c2;
  border-color: #eded68;
}
/* line 87, stylesheets/oocss/modules/_mod_skins.sass */
.modnotedskin b {
  background-image: url(skin/mod/noted.png);
}
/* line 90, stylesheets/oocss/modules/_mod_skins.sass */
.modnotedskin .tl {
  left: -1px;
  top: -1px;
}
/* line 94, stylesheets/oocss/modules/_mod_skins.sass */
.modnotedskin .tr {
  right: -1px;
  top: -1px;
}
/* line 98, stylesheets/oocss/modules/_mod_skins.sass */
.modnotedskin .bl {
  left: -1px;
  bottom: -1px;
}
/* line 102, stylesheets/oocss/modules/_mod_skins.sass */
.modnotedskin .br {
  right: -1px;
  bottom: -1px;
}

/* line 108, stylesheets/oocss/modules/_mod_skins.sass */
.modgrabskin .inner {
  border: 3px solid #00477a;
  border-bottom-width: 10px;
}
/* line 112, stylesheets/oocss/modules/_mod_skins.sass */
.modgrabskin b {
  background-image: url(skin/mod/grab.png);
}
/* line 115, stylesheets/oocss/modules/_mod_skins.sass */
.modgrabskin .bl, .modgrabskin .br {
  height: 16px;
  margin-top: -16px;
}

/* line 134, stylesheets/oocss/modules/_mod_skins.sass */
.modonlinestoreskin .inner {
  border: 3px solid #9a9800;
  border-bottom-width: 10px;
}
/* line 138, stylesheets/oocss/modules/_mod_skins.sass */
.modonlinestoreskin b {
  background-image: url(skin/mod/store.png);
}
/* line 141, stylesheets/oocss/modules/_mod_skins.sass */
.modonlinestoreskin .bl, .modonlinestoreskin .br {
  height: 16px;
  margin-top: -16px;
}

/* line 244, stylesheets/screen.sass */
.modaboutskin {
  border: 1px solid #c7c7c7;
}
/* line 147, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin .inner {
  border: 3px solid #494949;
  border-bottom-width: 10px;
}
/* line 151, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin b {
  background-image: url(skin/mod/about.png);
}
/* line 154, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin .bl, .modaboutskin .br {
  height: 16px;
  margin-top: -16px;
}
/* line 162, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin .inner {
  border: 1px solid #c7c7c7;
  border-color: #ededed;
}
/* line 166, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin b {
  background-image: url(skin/mod/talk.png);
}
/* line 169, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin .tl {
  left: -1px;
  top: -1px;
}
/* line 173, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin .tr {
  right: -1px;
  top: -1px;
}
/* line 177, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin .bl {
  left: -1px;
  bottom: -1px;
}
/* line 181, stylesheets/oocss/modules/_mod_skins.sass */
.modaboutskin .br {
  right: -1px;
  bottom: -1px;
}

/* line 187, stylesheets/oocss/modules/_mod_skins.sass */
.modtalkskin .inner {
  border: solid 10px #fff;
  margin: 0 4px;
}
/* line 191, stylesheets/oocss/modules/_mod_skins.sass */
.modtalkskin b {
  background-image: url(skin/mod/photo.png);
}
/* line 194, stylesheets/oocss/modules/_mod_skins.sass */
.modtalkskin .tr, .modtalkskin .tl {
  width: 20px;
}
/* line 197, stylesheets/oocss/modules/_mod_skins.sass */
.modtalkskin .top, .modtalkskin .bottom {
  height: 4px;
  margin-top: 0px;
}
/* line 201, stylesheets/oocss/modules/_mod_skins.sass */
.modtalkskin .bl, .modtalkskin .br {
  height: 16px;
  margin-top: -12px;
}

/* line 249, stylesheets/screen.sass */
.modflowskin {
  margin: 6px;
}
/* line 209, stylesheets/oocss/modules/_mod_skins.sass */
.modflowskin b {
  background-image: url(skin/mod/even.png);
}
/* line 212, stylesheets/oocss/modules/_mod_skins.sass */
.modflowskin .inner {
  padding: 0 4px;
}
/* line 215, stylesheets/oocss/modules/_mod_skins.sass */
.modflowskin .top {
  height: 4px;
}
/* line 218, stylesheets/oocss/modules/_mod_skins.sass */
.modflowskin .bottom {
  height: 4px;
  margin-top: -4px;
}
/* line 222, stylesheets/oocss/modules/_mod_skins.sass */
.modflowskin .br, .modflowskin .bl {
  margin-top: -6px;
}

/* line 251, stylesheets/screen.sass */
.modbooskin {
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,33);
  -moz-box-shadow: black 2px 2px 2px 2px;
  border: solid 1px #949494;
  background: #fff;
}

/* line 234, stylesheets/oocss/modules/_mod_skins.sass */
.modexcerptskin b {
  background-image: url(skin/mod/excerpt.png);
}
/* line 237, stylesheets/oocss/modules/_mod_skins.sass */
.modexcerptskin .top {
  height: 1px;
}
/* line 240, stylesheets/oocss/modules/_mod_skins.sass */
.modexcerptskin .bottom {
  height: 6px;
  margin-top: -6px;
}
/* line 244, stylesheets/oocss/modules/_mod_skins.sass */
.modexcerptskin .br, .modexcerptskin .bl {
  height: 12px;
  margin-top: -6px;
}

/* line 255, stylesheets/screen.sass */
.modsommersskin {
  background-image: url(skin/mod/glow_7px.png);
  _background-image: none;
  margin: 3px 20px 20px 3px;
}
/* line 254, stylesheets/oocss/modules/_mod_skins.sass */
.modsommersskin .inner {
  _border: 3px solid #D7D7D7;
  background-image: url(skin/mod/glow_7px.png);
  _background-image: none;
}
/* line 259, stylesheets/oocss/modules/_mod_skins.sass */
.modsommersskin b {
  background-image: url(skin/mod/glow_7px.png);
  _background-image: none;
}

/* line 257, stylesheets/screen.sass */
.gonzaloskin {
  background-image: url(skin/mod/gc.png);
}
/* line 267, stylesheets/oocss/modules/_mod_skins.sass */
.gonzaloskin .inner, .gonzaloskin b {
  background-image: url(skin/mod/gc.png);
}

/* line 272, stylesheets/oocss/modules/_mod_skins.sass */
.sale .inner {
  background: red none;
}

/* line 277, stylesheets/oocss/modules/_mod_skins.sass */
.nicole .inner {
  background: #c01c41 none;
  color: #fff;
}
/* line 281, stylesheets/oocss/modules/_mod_skins.sass */
.nicole * {
  color: #fff;
}

/* line 286, stylesheets/oocss/modules/_mod_skins.sass */
.highlight .inner {
  background: #e3e36f none;
}

/* line 291, stylesheets/oocss/modules/_mod_skins.sass */
.universe .inner {
  background: url(skin/mod/universe.png) repeat left top;
}

/* line 296, stylesheets/oocss/modules/_mod_skins.sass */
.foo .inner {
  background: url(skin/mod/universe_gray.png) repeat left top;
}

/* line 301, stylesheets/oocss/modules/_mod_skins.sass */
.login * {
  color: #fff;
}
/* line 303, stylesheets/oocss/modules/_mod_skins.sass */
.login .inner {
  background: url(skin/mod/universe_login.png) repeat left top;
}

/* line 308, stylesheets/oocss/modules/_mod_skins.sass */
.comment .inner {
  background: #e2e2e2 none;
}

/* line 313, stylesheets/oocss/modules/_mod_skins.sass */
.hd h1, .hd h2, .hd h3, .hd h4, .hd h5, .hd h6 {
  padding: 5px 10px;
}

/* line 275, stylesheets/screen.sass */
.section {
  background: #e9e9e9 url(skin/mod/header.png) repeat-x left bottom;
  color: #de2c72;
  font-size: 120%;
  padding: 5px 10px;
}
/* line 323, stylesheets/oocss/modules/_mod_skins.sass */
.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
  font-size: 100%;
  color: #de2c72;
  padding: 0;
}

/* line 277, stylesheets/screen.sass */
.act {
  background-color: #e9e9e9;
}

/* line 279, stylesheets/screen.sass */
.topper {
  background: #fff url(skin/mod/header_gradient_light.png) repeat-x left bottom;
  color: #4D4D4D;
  font-size: 120%;
  padding: 5px 10px;
}
/* line 339, stylesheets/oocss/modules/_mod_skins.sass */
.topper h1, .topper h2, .topper h3, .topper h4, .topper h5, .topper h6 {
  font-size: 100%;
  color: #4D4D4D;
  padding: 0;
}

/* line 281, stylesheets/screen.sass */
.bam {
  background: #00477a url(skin/mod/header_glossy.png) repeat-x left top;
  color: #fff;
  font-size: 120%;
  padding: 5px 10px;
}
/* line 351, stylesheets/oocss/modules/_mod_skins.sass */
.bam h1, .bam h2, .bam h3, .bam h4, .bam h5, .bam h6 {
  font-size: 100%;
  color: #fff;
  padding: 0;
}

/* line 283, stylesheets/screen.sass */
.gonz {
  background: url(skin/mod/gc_header.png) no-repeat left top;
}

/* line 285, stylesheets/screen.sass */
.gonz {
  background: #9a9400 url(skin/mod/online.png) repeat-x left top;
  color: #000;
  font-size: 120%;
  padding: 5px 10px;
}
/* line 367, stylesheets/oocss/modules/_mod_skins.sass */
.gonz h1, .gonz h2, .gonz h3, .gonz h4, .gonz h5, .gonz h6 {
  font-size: 100%;
  color: #000;
  padding: 0;
}

/* line 287, stylesheets/screen.sass */
.help {
  background: #b20029 url(skin/mod/help.png) repeat-x left top;
  color: #fff;
  font-size: 120%;
  padding: 5px 10px;
}
/* line 379, stylesheets/oocss/modules/_mod_skins.sass */
.help h1, .help h2, .help h3, .help h4, .help h5, .help h6 {
  font-size: 100%;
  color: #fff;
  padding: 0;
}

/* line 289, stylesheets/screen.sass */
.info {
  background: #636363 url(skin/mod/info.png) repeat-x left top;
  color: #fff;
  font-size: 120%;
  padding: 5px 10px;
}
/* line 391, stylesheets/oocss/modules/_mod_skins.sass */
.info h1, .info h2, .info h3, .info h4, .info h5, .info h6 {
  font-size: 100%;
  color: #fff;
  padding: 0;
}

/* line 294, stylesheets/screen.sass */
.nv	{
  margin: 0;
  padding: 0;
  display: inline;
  width: 100%;
}
/* line 7, stylesheets/oocss/modules/_nav.sass */
.nv .tabs {
  padding: 0;
}
/* line 10, stylesheets/oocss/modules/_nav.sass */
.nv ul {
  float: left;
  display: block;
}
/* line 14, stylesheets/oocss/modules/_nav.sass */
.nv li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 20, stylesheets/oocss/modules/_nav.sass */
.nv li a {
  display: block;
  padding: 5px 10px;
  color: #666;
  text-decoration: none;
}
/* line 26, stylesheets/oocss/modules/_nav.sass */
.nv li a:hover {
  background: #bbb;
  color: #333;
}


/* -------------------------------------------------------------- 
   Breadcrumb - breadcrumb links. 
   http://veerle.duoh.com/blog/comments/simple_scalable_css_based_breadcrumbs/
   http://www.alistapart.com/articles/taminglists/
   http://www.fortysomething.ca/mt/etc/archives/006747.php
-------------------------------------------------------------- */
	.nv.crumbs,
	.nv.crumbs ul {
		height:2.3em;
	}

	.nv.crumbs {
		border:1px solid #dedede;
		margin: 1.5em 0 0.75em 0;  
	}

	.nv.crumbs li {
		float:left;
		line-height:2.3em;
		padding-left:.75em;
		color:#777;
	}

	.nv.crumbs li a {
		display:block;
		padding:0 15px 0 0;
		background:url(skin/nav/crumbs.gif) no-repeat right center;
	}


/* -------------------------------------------------------------- 
   Sitemap - using adapted slickmap css
   http://astuteo.com/slickmap/ - see slickmap.css
-------------------------------------------------------------- */

body.sitemap	{

}

	/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is 
	4 columns (25%). 5 columns would be 20%, 6 columns would 
	be 16.6%, etc. 
------------------------------------------------------------ */

#primaryNav li {
	width:25%;
}

#primaryNav li ul li {
	width:100% !important;
}

#primaryNav.col1 li { width:99.9%; }
#primaryNav.col2 li { width:50.0%; }
#primaryNav.col3 li { width:33.3%; }
#primaryNav.col4 li { width:25.0%; }
#primaryNav.col5 li { width:20.0%; }
#primaryNav.col6 li { width:16.6%; }
#primaryNav.col7 li { width:14.2%; }
#primaryNav.col8 li { width:12.5%; }
#primaryNav.col9 li { width:11.1%; }
#primaryNav.col10 li { width:10.0%; }

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

.sitemap .nv.sitemap {
	margin: 0 0 40px 0;
	float: left;
	width: 100%;
}


	/* ------------------------------------------------------------
		Site Map Styles
	------------------------------------------------------------ */

	/* --------	Top Level --------- */

	.sitemap #primaryNav {
		margin: 0;
		float: left;
		width: 100%;
	}
	.sitemap #primaryNav #home {
		display: block;
		float: none;
		background: #ffffff url('slickmap/L1-left.png') center bottom no-repeat;
		position: relative;
		z-index: 2;
		padding: 0 0 30px 0;
	}
	.sitemap #primaryNav li {
		float: left;
		background: url('slickmap/L1-center.png') center top no-repeat;
		padding: 30px 0;
		margin-top: -30px;
	}
	.sitemap #primaryNav li a {
		margin: 0 20px 0 0;
		padding: 10px 0;
		display: block;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		color: black;	
		background: #c3eafb url('slickmap/white-highlight.png') top left repeat-x;
		border: 2px solid #b5d9ea;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
		-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
	}
	.sitemap #primaryNav li a:hover {
		background-color: #e2f4fd;
		border-color: #97bdcf;
	}
	.sitemap #primaryNav li:last-child {
		background: url('slickmap/L1-right.png') center top no-repeat;
	}
	.sitemap .body a:link:before,
	.sitemap .body a:visited:before {
		content: " "attr(href)" ";
		display: block;
		text-transform: uppercase;
		font-size: 10px;
		margin-bottom: 5px;
		word-wrap: break-word;
	}
	.sitemap #primaryNav li a:link:before,
	.sitemap #primaryNav li a:visited:before {
		color: #78a9c0;
	}

	/* --------	Second Level --------- */

	.sitemap #primaryNav li li {
		width: 100%;
		clear: left;
		margin-top: 0;
		padding: 10px 0 0 0;
		background: url('slickmap/vertical-line.png') center bottom repeat-y;
	}
	.sitemap #primaryNav li li a {
		background-color: #cee3ac;
		border-color: #b8da83;
	}
	.sitemap #primaryNav li li a:hover {
		border-color: #94b75f;
		background-color: #e7f1d7;
	}
	.sitemap #primaryNav li li:first-child {
		padding-top: 30px;
	}
	.sitemap #primaryNav li li:last-child {
		background: url('slickmap/vertical-line.png') center bottom repeat-y;
	}
	.sitemap #primaryNav li li a:link:before,
	.sitemap #primaryNav li li a:visited:before {
		color: #8faf5c;
	}

	/* --------	Third Level --------- */

	.sitemap #primaryNav li li ul {
		margin: 10px 0 0 0;
		width: 100%;
		float: right;
		padding: 9px 0 10px 0;
		background: #ffffff url('slickmap/L3-ul-top.png') center top no-repeat;
	}
	.sitemap #primaryNav li li li {
		background: url('slickmap/L3-center.png') left center no-repeat;
		padding: 5px 0;
	}
	.sitemap #primaryNav li li li a {
		background-color: #fff7aa;
		border-color: #e3ca4b;
		font-size: 12px;
		padding: 5px 0;
		width: 80%;
		float: right;
	}
	.sitemap #primaryNav li li li a:hover {
		background-color: #fffce5;
		border-color: #d1b62c;
	}
	.sitemap #primaryNav li li li:first-child {
		padding: 15px 0 5px 0;
		background: url('slickmap/L3-li-top.png') left center no-repeat;
	}
	.sitemap #primaryNav li li li:last-child {
		background: url('slickmap/L3-bottom.png') left center no-repeat;
	}
	.sitemap #primaryNav li li li a:link:before,
	.sitemap #primaryNav li li li a:visited:before {
		color: #ccae14;
		font-size: 9px;
	}


	/* ------------------------------------------------------------
		Utility Navigation
	------------------------------------------------------------ */

	.sitemap #utilityNav {
		float: right;
		max-width: 50%;
		margin-right: 10px;
	}
	.sitemap #utilityNav li {
		float: left;
		margin-bottom: 10px;
	}
	.sitemap #utilityNav li a {
		margin: 0 10px 0 0;
		padding: 5px 10px;
		display: block;	
		border: 2px solid #e3ca4b;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		color: black;
		background: #fff7aa url('slickmap/white-highlight.png') top left repeat-x;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
		-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
	}
	.sitemap #utilityNav li a:hover {
		background-color: #fffce5;
		border-color: #d1b62c;
	}
	.sitemap #utilityNav li a:link:before,
	.sitemap #utilityNav li a:visited:before {
		color: #ccae14;
		font-size: 9px;
		margin-bottom: 3px;
	}

/* -------------------------------------------------------------- 
   Pagination - forward, back & page links
   http://woork.blogspot.com/2008/03/perfect-pagination-style-using-css.html
-------------------------------------------------------------- */

.paginate-counter	{		}

.paging	{		}

.paginator ul	{	margin-bottom: 0 }

.paging li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	margin-right:2px;
}
.paging a{
	border:solid 1px #ABABAB;
	margin-right:2px;
}
.paging .previous.disabled,
.paging .next.disabled {
	border:solid 1px #FFF;
	color:#DEDEDE;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
.paging .next a,
.paging .previous a {
	font-weight:bold;
	border:solid 1px #fff;
}
.paging .current	{
	background:#eddeed;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}
.paging a:link,
.paging a:visited {
	color:#0e509e;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
	border:solid 1px #fff;
}
.paging a:hover{
	border:solid 1px #fff;
	background-color: #dedeed;
	color: #777;
}

/* formy - http://code.google.com/p/formy-css-framework/	 */
/* line 3, stylesheets/oocss/extras/_formy.sass */
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 14, stylesheets/oocss/extras/_formy.sass */
fieldset {
  margin: 0 0 1.5em 0;
  padding: 1.4em;
}

/* line 19, stylesheets/oocss/extras/_formy.sass */
legend {
  padding: 0 .4em;
  font-size: 1.2em;
}

/* line 24, stylesheets/oocss/extras/_formy.sass */
label {
  float: left;
  width: 9em;
  display: block;
  clear: left;
  margin-right: 1em;
  text-align: left;
  cursor: hand;
}

/* line 34, stylesheets/oocss/extras/_formy.sass */
textarea, input, select, label, button, optgroup {
  margin-top: 5px;
}

/* line 39, stylesheets/oocss/extras/_formy.sass */
input[type="checkbox"], input[type="radio"] {
  margin-bottom: 7px;
}

/* line 43, stylesheets/oocss/extras/_formy.sass */
fieldset {
  border: 1px solid #ccc;
}

/* line 47, stylesheets/oocss/extras/_formy.sass */
legend {
  background-color: #e3dfdf;
  color: #333;
}

/* line 52, stylesheets/oocss/extras/_formy.sass */
label {
  color: #333;
}

/* line 56, stylesheets/oocss/extras/_formy.sass */
textarea {
  border: 1px solid #666;
}
/* line 59, stylesheets/oocss/extras/_formy.sass */
textarea:focus {
  border: 2px solid #666;
}

/* line 63, stylesheets/oocss/extras/_formy.sass */
input[type="text"]:focus {
  border: 2px solid #666;
}

/* line 67, stylesheets/oocss/extras/_formy.sass */
select {
  background-color: #fff;
  color: #000;
}

/* line 73, stylesheets/oocss/extras/_formy.sass */
input[type="text"] {
  border: 1px solid #666;
}
/* line 76, stylesheets/oocss/extras/_formy.sass */
input[type="submit"] {
  background-color: #ccc;
  color: #333;
}
/* line 80, stylesheets/oocss/extras/_formy.sass */
input[type="checkbox"] {
  color: #000;
}
/* line 83, stylesheets/oocss/extras/_formy.sass */
input[type="radio"] {
  background-color: #fff;
  color: #000;
}

/* line 88, stylesheets/oocss/extras/_formy.sass */
option {
  background-color: #fff;
  color: #000;
}

/* line 93, stylesheets/oocss/extras/_formy.sass */
optgroup {
  background-color: #ccc;
  color: #000;
}

/* line 98, stylesheets/oocss/extras/_formy.sass */
button {
  background-color: #ccc;
  color: #333;
}

/* @end */
/* @group STRUCTURE */
/* @end */
/* @group COMPONENTS by type */
/* @end */
/* @group OVERRIDES by content */
/* @end */
/* @group OVERRIDES by page */
/* @end */
/* @group DEBUG */
/* @end */

.paginate-counter	{
	display: inline;
}

.paginate-counter	.quiet	{
	float: right;
	display: inline;
	width: auto
}

.paging{}

.liquid { width: 96%; margin: .3em auto;  }

.head { position: relative; height: 7.9em;  }
.head h1	{
color:green;
font-size:195%;
left:65px;
line-height:1.5em;
position:absolute;
top:0.26em;}

.head .search	{	position: absolute; right: .3em; bottom: 3.3em; width: 175px; }
.head .search label	{	width: auto; padding-right: 2px;margin-right: 0; line-height: 24px; font-size: 12px; margin-top: 0px; height: 28px; padding-right: 8px; }
#DashboardQ {	width: 95px; margin-top: 0px; margin-bottom: 0px; padding-bottom: 6px;	}
#DashboardQ:focus { border: 1px solid #000; background: #efeeff; }
#go	{	margin-top: 0px; padding-top: 0px; margin-bottom: -10px; margin-left: 5px;	}

.head .nv,
.head .rss,
.head .accessibility { position: absolute;  }
.head .accessibility { top: .3em; right: 2.5em;   }
.head .nv { bottom: .3em; right: .3em; display: block; width: auto; }
.head .rss	{	width: auto; height: auto; top: .3em; right: .3em;	}

.head .nv,
.foot .nv { display: block; width: auto; }

.head .nv {	font-size: 130%; margin-right: -.1em	}
.foot .nv {	font-size: 74%;	}

.head .nv li,
.foot .nv li { margin: 0 0 0 .3em;  }

.head .nv a,
.foot .nv a { background: transparent; border: 0; border-bottom: .12em solid #232323;  }

.head .nv a:hover,
.foot .nv a:hover { background: transparent; border: 0; border-bottom: .12em solid #232323; }


.body	{	margin: 1.618em .3em	}

.foot .leftCol {	width: 220px;	}
.foot .nv {	float: right;	}

.foot .admin,
.foot .debug	{
	display: block; width: auto;
}

.foot .logos	{
	display: block;
	width: auto;
	float: right;
	clear: right;
}

.foot .jquery,
.foot .wildflower,
.foot .cake	{
	display: inline;
	float: left;
	width: auto;
	height: 18px;
}

.foot .jquery img,
.foot .wildflower img,
.foot .cake	img{
	margin: 3px .3em 0 .3em;
}

.foot .jquery	img	{
	margin-top: 0;
}


body #umsg	{
	position: absolute;
	left: 50%;
	top: 3em;
	width: 9em;
	margin-left: -4.5em;
}



.error, .alert, .notice, .success {
  border: 2px solid #DDDDDD;
  margin-bottom: 1em;
  padding: 0.8em;
}

.alert, .error {
  background: #FBE3E4 none repeat scroll 0 0;
  border-color: #FBC2C4;
  color: #8A1F11;
}

.notice {
  background: #FFF6BF none repeat scroll 0 0;
  border-color: #FFD324;
  color: #514721;
}

.success {
  background: #E6EFC2 none repeat scroll 0 0;
  border-color: #C6D880;
  color: #264409;
}

.alert a,
.error a {
  color: #8A1F11;
}

.notice a {
  color: #514721;
}

.success a {
  color: #264409;
}

/**/

.home	.body .rightCol {	width: 26%;	}

.about	.body .leftCol {	width: 21%;	}

.post .body .leftCol, 
.post .body .rightCol	{ width: 73% }

.contact	.body .rightCol {	width: 44%;	}

.foot .main {	width: auto	}