body{font-family:Arial,Helvetica,Verdana,Sans-serif; font-size: 16px; max-width: 100%; color:#444EFB; font-size:16px;background:#FFFEFB url(/css/majic3/bdy-bkgd.gif) repeat-x scroll 0 0; }
/*	uncomment the following to test vertical rhythm	*/
/**/ .debug .hd, .debug .bd, .debug .ft {	background: url(/css/oo/baseline_24px.png);	} /* */


/*sam@majic3.com - added this for vertical-rhythm - but padding also need adjustin - to 0 next stage to adjust it back*/
p, ul, blockquote, pre, td, th, label {	margin: 0;	font-size: 1em;	line-height: 1.5em;	margin-bottom: 1.5em;	color:#131313;	}
h1, .h1 {	margin: 0;	font-size: 1.6666666666666667em;	line-height: 0.9em;	margin-bottom: 0.9em; color: #434343;	}
h2, .h2 {	margin: 0;	font-size: 1.5em;	line-height: 1em;	margin-bottom: 1em; color: #434343;		}
h3, .h3 {	margin: 0;	font-size: 1.3333333333333333em;	line-height: 1.125em;	margin-bottom: 1.125em;  color: #434343; }
h4, .h4 {	margin: 0;	font-size: 1.1666666666666667em;	line-height: 1.2857142857142858em;	margin-bottom: 1.2857142857142858em;  color: #434343;	}
h5, .h5 {	margin: 0;	font-size: 1.1666666666666667em;	line-height: 1.2857142857142858em;	margin-bottom: 1.2857142857142858em; color: #434343;	}
h6, .h6 {	margin: 0;	font-size: 1.1666666666666667em;	line-height: 1.2857142857142858em;	margin-bottom: 1.2857142857142858em; color: #434343;	}
p.small {	margin: 0;	font-size: 0.8333333333333334em;	line-height: 1.8em;	margin-bottom: 1.8em; color: #828282;	}
table {	border-collapse: collapse;	margin-bottom: 1.5em;	}

p img {	float: left; margin: 0 3em 2.7em 0.5em;	}
#bd.bd .main	{	padding-left: 2.2em; padding-right: 1.5em;	}
#bd.bd .rightCol,
#bd.bd .leftCol	{	padding-left: 0.6em; padding-right: 0.6em;	}
#bd.bd blockquote		{	margin: 1.5em auto 1.5em auto; width: 80%; text-indent: -0.8em;	}
#bd.bd blockquote p	{	margin: 0; padding: 0;	}
#bd.bd blockquote cite	{	float: right; font-style: italic; margin-right: 5em	}

.line	h4				{	margin-left: 3.2em	}
.line	.simpleList		{	margin-left: 4em	}


/*	hd is expanded bd is set width centered	*/
.wildflower		{width:100%;margin: 0; }
.wildflower	#hd.hd	{width:100%;margin: 0; }
.wildflower	.nv	{width:100%;margin: 0; }
.wildflower	#bd.bd	{width:92%; margin: 1.614em auto}

/* HEADER */
#hd.hd { min-height: 65px; padding: 0; background: transparent; border-bottom: 2px solid #1F8C16; }
#hd.hd #skipto		{	padding: 0; margin: 0 1.6em 0 0; text-align: right; width: auto;	}
	#skipto	a	{	margin-right: 10px;	}
#hd.hd a:link,
#hd.hd a:active,
#hd.hd a:visited	{	color: #000;	}
#hd.hd a:hover		{	color: #000;	}
#hd.hd h1 { padding: 0 0 0 1.3em; margin: 0.614em 0.2em 1.421em 0.2em; }
#hd.hd h1	a { padding: 0; margin: 0;  }
#hd.hd p	{ padding: 0 0 0 2.6em; margin: 0.2em; }
#hd.hd .logo	{ float: left; margin: 0.5em; }
#hd.hd a	{ display: block; width: 100%; height: 100%;  }
#hd #searchrss 	{	float: right; width: 237px; height: 31px; margin: -3.2em 1.8em 0 0; 	}
#hd #searchrss 	#searchBox	{
    width: 201px;
    height: 31px;
    background: url(/css/img/bg_search_box.gif);
}
#searchBox #s {
    float: left;
    padding: 0;
    margin: 8px 0 0 6px;
    border: 0;
    width: 159px;
    background: none;
}
#searchBox #go {
    float: right;
    margin: 3px 4px 0 0;
}
#hd #searchBox input.text:focus	{	background: #ddd;	}
#hd #searchBox input.text:hover	{	background: #eee;	}
#hd #searchrss a	{	float: right; width: 31px; height: 31px; margin-top: -31px; margin-right: 0; background: transparent url(/css/img/bg_block.gif); text-align: center; 	}
	#searchrss a img	{ display: block; padding-top: 8px; padding-left: 8px; }

/* NAVIGATION & TABS */

/* -------------------------------------------------------------- 
   TABS - Starting point for turning lists into tabs.
-------------------------------------------------------------- */

ul.tabs { margin: 0; padding: 0; }
ul.tabs li ul { float: left; }
ul.tabs li { float: left; list-style: none; margin: 0; padding: 0; }
ul.tabs li a { float: left; display: block; }

/* Clearing floats without extra markup  */
ul.tabs { display: inline-block; }
ul.tabs:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html ul.tabs { height: 1%; }
ul.tabs, ul.tabs li ul { display: block; }


#nv { width: 100%; margin: 0; padding: 0; background: #79DA65; border-bottom: 2px solid #ABABAB; }
#nv .tabs {	padding: 0 0 0 1.614em;	}
#nv .tabs a { padding: 5px 10px; color: #666; text-decoration: none; }
#nv .tabs a:hover { background: #bbb; color: #333; }

.nv	{margin: 0; padding: 0; }
.nv.vert	{}

/* BODY */
#bd.bd { width: 960px; margin: 0 auto; padding: 20px; }
	#bd .main .pageHeader	{
		margin: 0.75em 0 1.5em 0;
	}
	#bd .main p	{
		margin-left: .35em;
		margin-right: .2em;
	}

	#bd .edit-this	{
		margin-top: 1em;
		width: 100%;
	}
/* BODY */
#bd.bd { width: 960px; margin: 1.614em auto; padding: 0; }
	#bd .main .pageHeader	{
		margin: 0.75em 0 1.5em 0;
	}
	#bd .main p	{
		margin-left: .35em;
		margin-right: .2em;
	}

	#bd .edit-this	{
		margin-top: 1em;
		width: 100%;
	}

	/*	muffin research / apaptive path flex */
	.flexit	{
		width: 98%;
		margin: 0 auto;
	}

	.flexit .main	{
		width:70%;
	}

	/*	flexit shows either 1 or the other of these up to you to set this in code	*/
	.flexit .rightCol,
	.flexit .leftCol	{
		width:27%;
	}

	.flexit3 .main	{
		width:68%;
	}

	.flexit3 .rightCol,
	.flexit3 .leftCol	{
		width:13%;
	}

/* FOOTER */
#ft.ft { margin: .2em .6em; border-top: 1px solid #eee; }
#ft.ft .rightCol,
#ft.ft .leftCol	{ width: 40%; }
#ft.ft .tabs { padding: 10px; font-size: 13px; width: auto; float: right; }
#ft.ft .tabs li { margin-right: 20px; }
#ft.ft a { color: #999; }
#ft.ft .tabs a { text-decoration: none; }
#ft.ft p.quiet { font-size: .75em; color: #ccc; width: auto; float: left; margin-top: 0; margin-bottom: 0; }
#ft.ft p { color: #ccc; width: auto; float: left; padding-top: 1.164em; margin-top: 0; margin-bottom: 0; }
#ft.ft img { border: 0; margin: 0; vertical-align: bottom; }
#ft.ft a[href^='http://wf.klevo.sk']	{
	margin-top: 1em; margin-left: 2em; display: inline;
}
	#ft.ft a[href^='http://wf.klevo.sk'] img	{
		margin: .125em 1.614em 0 2.324em; display: block;
	}

/* widflower:admin bar & admin link */
#admin-bar {
    background: #000;
    color: #c3c3c3;
    overflow: hidden;
    padding: 0 32px;
}

	#admin-bar ul.tabs	{	float: right;	}
	#admin-bar li		{	
    font-size: 10px;	}

    #admin-bar a {
        color: #999999;
        display: block;
        float: left;
        padding: 3px 6px;
        text-decoration: none;
    }
    
    #admin-bar a:hover {
        color: #fff;
        background-color: transparent;
    }

	#ft.ft	.adm-link,
	#ft.ft	.debug	{
		clear: right; float: right; margin-right: 1.9em;
	}

/* PAGINATION */

.paginate-counter	{	float: right; margin-right: 2.684em; 	}

.paging	{	float: left; width: 60%; margin-left: 2.684em; margin-top: -4px;	}

.paging li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	margin-right:2px;
}
.paging a{
	border:solid 1px #ABABAB;
	margin-right:2px;
}
.paging .previous.disabled,
.paging .next.disabled {
	border:solid 1px #FFF;
	color:#DEDEDE;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
.paging .next a,
.paging .previous a {
	font-weight:bold;
	border:solid 1px #fff;
}
.paging .current	{
	background:#79DA65;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}
.paging a:link,
.paging a:visited {
	color:#0e509e;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
	border:solid 1px #fff;
}
.paging a:hover{
	border:solid 1px #fff;
	background-color: #79DA65;
	color: #777;
}

/* rework below */

/*	jquery ui extras	*/
table.ui-datepicker-calendar	{		}
table.ui-datepicker-calendar	th,
table.ui-datepicker-calendar	td	{
	padding: 1px !important;
}

/*	jquery ui flash messages	*/
.bd .ui-widget	{	margin: 0.75em auto 2.1em auto;	}
.ui-widget	p {	padding-left: 1.5em; padding-right: 1.5em; margin-bottom: 0;	}
.ui-widget	.ui-state-error,
.ui-widget	.ui-state-highlight	{ padding-bottom: 0.75em; padding-top: 0.75em; }
.ui-widget	p span.ui-icon	{	float: left; padding: 1px;	}

/* BUTTONS */

.buttons a, .submit button	{
	display:block;
	float:left;
	margin:0 7px 0 0;
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
	width:auto;
	overflow:visible;
	padding:4px 10px 3px 7px; /* IE6 */
}

.buttons button[type]{
	padding:5px 10px 5px 7px; /* Firefox */
	line-height:17px; /* Safari */
}

*:first-child+html button[type]{
	padding:4px 10px 3px 7px; /* IE7 */
}

.buttons button img, .buttons a img{
	margin:0 3px -3px 0 !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
}

.buttons a.positive:hover, button.positive:hover{
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}
.buttons a.positive:active{
	background-color:#529214;
	border:1px solid #529214;
	color:#fff;
}

/* STANDARD */

button:hover, .buttons a:hover{
	background-color:#dff4ff;
	border:1px solid #c2e1ef;
	color:#336699;
}
.buttons a:active{
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive	{	color:#529214;	}

.buttons a.positive:hover, button.positive:hover	{
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}

.buttons a.positive:active{
	background-color:#529214;
	border:1px solid #529214;
	color:#fff;
}

/*	posts	*/
#posts	#postsSidebar .mod	{	margin: 2.682em .2em 1.614em .2em; 	}
#posts	#postsSidebar .mod:first-child	{	margin-top: 0 !important;	}

#posts	.post		{	margin: 2.682em .2em 1.614em .2em; padding: .2em;	}
#posts	.post:first-child	{	margin-top: 0 !important;	}

.post	.header	{
	padding: 0 1.614em 0 .2em;
}

.post	h2	{
	
}

.post	.small	{
	font-size: .8em;
	line-height: 1.2em;
}


.post	.header .posted-by,
.post	.header .post-date,
.post	.header .comment-count,
.post	.header .postmeta	{
	
}

.post	.header .social	{
	width: 252px;
}

	.post	.header .social	a	{
		margin: 0;
	}

	.post	.header .social	img	{
		margin: 1px 2px;
	}

.post	.section.excerpt,
.post	.section.entry	{
	clear: left;
	padding: 0 1.614em 1.614em 0;
	
}
/*	/posts	*/


.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat; }
  .tipsy-inner { padding: 4px 5px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-north { background-image: url(/css/img/tipsy/tipsy-north.gif); background-position: top center; }
  .tipsy-south { background-image: url(/css/img/tipsy/tipsy-south.gif); background-position: bottom center; }
  .tipsy-east { background-image: url(/css/img/tipsy/tipsy-east.gif); background-position: right center; }
  .tipsy-west { background-image: url(/css/img/tipsy/tipsy-west.gif); background-position: left center; }
